import { Template } from 'meteor/templating';

/**
 * =============================================================
 * TEMPLATE CREATED
 * =============================================================
 */
Template.TEMPLATE_NAME_GOES_HERE.onCreated(function() {});

/**
 * =============================================================
 * TEMPLATE RENDERED
 * =============================================================
 */
Template.TEMPLATE_NAME_GOES_HERE.onRendered(function() {});

/**
 * =============================================================
 * TEMPLATE DESTROYED
 * =============================================================
 */
Template.TEMPLATE_NAME_GOES_HERE.onDestroyed(function() {});

/**
 * =============================================================
 * TEMPLATE EVENTS
 * =============================================================
 */
Template.TEMPLATE_NAME_GOES_HERE.events({});

/**
 * =============================================================
 * TEMPLATE HELPERS
 * =============================================================
 */
Template.TEMPLATE_NAME_GOES_HERE.helpers({});
