<template name="pageHome">

	<main class="content">

		<div class="page page-home">

			<h1>HOMEPAGE</h1>

			<p>
			    <a href="/page/2">Go to page 2</a>
            </p>

		</div>

	</main>

</template>